<%- include('../templates/header.ejs', {info: info}) %>
    <div id="config">
        <ul class="tab">
            <li class="tablinks" onclick="openTab(event, 'users')" id="defaultOpen">Usuarios</li>
            <li class="tablinks" onclick="openTab(event, 'proser')">Productos/Servicios</li>
            <li class="tablinks" onclick="openTab(event, 'vips')">Vips</li>
        </ul>

        <div id="users" class="tabcontent">
            <h3>Usuarios</h3>
            <p>London is the capital city of England.</p>
        </div>

        <div id="proser" class="tabcontent">
            <h3>Productos/Servicios</h3>
            <p>Paris is the capital of France.</p>
        </div>

        <div id="vips" class="tabcontent">
            <h3>Vips</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>

    </div>
    <script>
        function openTab(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(tabName).style.display = "flex";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>
    <%- include('../templates/footer.ejs') %>