<%- include('templates/header.ejs') %>
<div id="login">
    <img src="/images/logo.png" alt="">
    <form id="loginForm" action="/users/signin" method="post">
        <div class="formInput">
            <label for="">Usuario:</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="formInput">
            <label for="">Contraseña:</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="formInput">
            <button>Acceder</button>
        </div>
    </form>
</div>
<%- include('templates/footer.ejs') %>

